version: '3'
services:
  node-app:
    build: 
      context: .
      target: development

    volumes:
      - ./src:/app/src:ro
    environment:
      - NODE_ENV=devlopment

    command: npm run start-dev

